<nav id="navbar">
        <div class="nav_extemity">
            <li><h1>CloudAcademy</h1></li>
        </div>

        <div class="container_nav">
            <li><a href="/" class="nav_link">Home</a></li>
            <li><a href="/admin"class="nav_link">admin</a></li>
            <div>
                <input type="text" id="input_search" placeholder="Choose a theme"/>
                <a href="#" id="search" class="nav_link"><i class="fas search fa-search"></i></a>
            </div> 
        </div>

        <div class="nav_extemity">
            <li><a href="#faq" class="nav_link button-bar">F-A-Q</a></li>
        </div>
</nav>